
<div class="container bg-white">
  <div class="row">
    <h1 class="section-heading">My Rentals</h1>
    <div>
      <% if @rentals.any? %>
      <%= "you are already a renter" %>
      <% else %>
        <div class="empty-card col-md-8 col-sm-12 d-flex align-items-center">
          <div>
            <i class="far fa-hand-peace picto mr-3"></i>
          </div>
          <div>
            <h2>You don't have any rental yet !</h2>
            <p>Feel freedom and smoothness during your journeys. Make a rental to begin your adventure!</p>
            <button class="btn primary-button">
              <%= link_to "Rent a bike" %>
            </button>
          </div>
        <div>
      <% end %>
    </div>

  </div>
  <div class="row">
    <h1 class="section-heading">My Bikes</h1>
    <div>
      <% if @bikes.any? %>
      <%= "You have several bikes listed" %>
      <div class="container">
        <% @bikes.each do |bike| %>
        <%= render 'shared/bike_card', bike: bike %>
          <% if policy(bike).edit? %>

          <% end %>
        <% end %>
      </div>
      <% else %>
        <div class="empty-card col-md-8 col-sm-12 d-flex align-items-center">
          <div>
            <i class="fas fa-bicycle picto"></i>
          </div>
          <div>
            <h2>You don't own any bike (yet) !</h2>
            <p>Become an owner adding a bike. Make easy money and good friends when lending your bike!</p>
            <button class="btn secondary-button">
              <%= link_to "Add a bike", new_bike_path %>
            </button>
          </div>
        <div>
      <% end %>
    </div>
  </div>
</div>
