<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url('https://imagizer.imageshack.com/img924/767/uAGSJg.png')">
  <div class="container">
    <%= image_tag("logo_big.png", crop: :fill, class:"mb-3") %>
    <h1><span>Get a bike</span> and <span>ride</span> till' you <span>die</span>!</h1>
    <div class="row"></div>
      <div class="col-sm-12 col-md-6 row">
      <%= form_tag bikes_path, method: :get do %>
      <div class="row">
        <div class="col-6">
          <%= text_field_tag :query,
          params[:query],
          class: "form-control mt-4",
          placeholder: "Find a bike"
          %>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 row">
        <div class="col-sm-8 col-md-4">
          <%= date_field_tag :start_date,
          params[:start_date],
          class: "form-control mt-4",
          # data: controller_name => flat picker
          placeholder: "Start date"
          %>
        </div>
        <div class="col-sm-8 col-md-4">
          <%= date_field_tag :end_date,
        <div class="col-3">
           <%= date_field_tag :end_date,
          params[:end_date],
          class: "form-control mt-4",
          placeholder: "End date"
          %>
        </div>
        <div class="col-sm-8 col-md-4">
      </div>
          <%= submit_tag "Browse our bikes!", class: "primary-button mt-4" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<div class="container">
  <h1 style="margin-top: 72px;">Latest bikes on the streets!</h1>
  <div class="row d-flex">
    <% @bikes.first(4).each do | bike | %>
      <div class="col-sm-12 col-md-3 col-lg-3 p-2">
        <%= render 'shared/bike_card_small', bike: bike %>
      </div>
    <% end %>
  </div>
</div>

<div class="container mt-5">
  <h2>Discover the bikes of the community!</h2>
  <div class="row mt-3">
    <% @bikes.first(4).each do | bike | %>
      <div class="col-sm-12 col-md-6 col-lg-6 p-2">
        <%= render 'shared/bike_card', bike: bike %>
      </div>
    <% end %>
  </div>
</div>



<%# <i class="fa-duotone fa-magnifying-glass"></i> %>
<%# placeholder dans date
<%# display des dates %>
<%# effet fondu navbar  %>
