<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url('https://imagizer.imageshack.com/img924/767/uAGSJg.png')">
  <div class="container">
    <%= image_tag("logo_big.png", crop: :fill, class:"mb-3") %>
    <h1><span>Get a bike</span> and <span>ride</span> till' you <span>die</span>!</h1>
    <div class="row"></div>
      <div class="col-6">
      <%= form_tag bikes_path, method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control mt-4",
          placeholder: "Find a bike"

          %>
      </div>
      <div class="col-6 row">
        <div class="col-4">
          <%= date_field_tag :start_date,
          params[:start_date],
          class: "form-control mt-4",
          # data: controller_name => flat picker
          placeholder: "Start date"
          %>
        </div>
        <div class="col-4">
          <%= date_field_tag :end_date,
          params[:end_date],
          class: "form-control mt-4",
          placeholder: "End date"
          %>
        </div>
        <div class="col-4">
          <%= submit_tag "Browse our bikes!", class: "primary-button mt-4" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1 style="margin-top: 72px;">Discover the bikes of the community!</h1>
  <div class="row">
    <% @bikes.first(3).each do | bike | %>
      <div class="col-6 p-2">
        <%= render 'shared/bike_card', bike: bike %>
      </div>
    <% end %>
  </div>
</div>


<%# <i class="fa-duotone fa-magnifying-glass"></i> %>
<%# placeholder dans date
<%# display des dates %>
<%# effet fondu navbar  %>
