<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url('https://imagizer.imageshack.com/img924/767/uAGSJg.png')">
  <div class="container">
    <%= image_tag("logo_big.png", crop: :fill, class:"mb-5") %>
    <h1><span>Get a bike</span> and <span>ride</span> till' you <span>die</span>!</h1>
    <div class="row"></div>
      <div class="col-6">
      <%= form_tag bikes_path, method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control mt-4",
          placeholder: "Find a bike"

          %>
      </div>
      <div class="row">
        <div class="col-3">
          <%= date_field_tag :start_date,
          params[:start_date],
          class: "form-control mt-4",
          # data: controller_name => flat picker
          placeholder: "Start date"
          %>
        </div>
        <div class="col-3">
          <%= date_field_tag :end_date,
          params[:end_date],
          class: "form-control mt-4",
          placeholder: "End date"
          %>
          <%= submit_tag "Browse our bikes!", class: "primary-button mt-4" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row d-flex flex-row-reverse">
    <div class="add-bike-section col-sm-12 col-md-8 col-lg-8 justify-content-end">
      <h2 class="">Do you wanna add a new bike to your fleet?</h2>
      <%# <div style="background-image: url('https://imagizer.imageshack.com/img924/2082/BUfG6H.png'); width:100px; height:100px; background-size: cover; background-position: center;"> %>
      <%# </div> %>
      <% if policy(Bike).create? %>
      <%= link_to 'Add a bike', new_bike_path, class:"secondary-button mt-4" %>
      <% end %>
    </div>
  </div>
</div>

<%# <i class="fa-duotone fa-magnifying-glass"></i> %>
<%# placeholder dans date
<%# display des dates %>
<%# effet fondu navbar  %>
