
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(<%= asset_path('BannerFont.png') %>);">
  <div class="container">
    <h1><span>Get a bike</span> and <span>ride</span> till' you <span>die</span>!</h1>

    <%= form_tag root_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a bike"
        %>
      <%= submit_tag "Search", class: "primary-button" %>
    <% end %>
  </div>
</div>

<div class="container">
  <h2>Do you wanna add a new bike to your fleet?</h2>
  <% if policy(Bike).create? %>
  <%= link_to 'Add a bike', new_bike_path, class:"btn btn-success" %>
  <% end %>
</div>

<div class="container bike-grid">
  <% @bikes.each do | bike | %>
    <%= render 'shared/bike_card', bike: bike %>
  <% end %>
</div>
