
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1><strong>Get a bike</strong> and <strong>ride</strong> till' you <strong>die</strong>!</h1>

        <%= form_tag root_path, method: :get do %>
            <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a bike"
            %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>

  </div>
</div>

<div class="container">
  <% @bikes.each do | bike | %>
    <%= render 'shared/bike_card', locals: {bike: bike} %>
  <% end %>
</div>

<div class="container">
  <% if policy(Bike).create? %>
  <%= link_to 'New bike', new_bike_path, class:"btn btn-success" %>
  <% end %>
</div>
